@model UserUpdateViewModel

@{
    ViewData["Title"] = "UpdateAuthorProfile";
    Layout = "~/Views/Shared/_AuthorLayout.cshtml";
}



<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Profil Bilgileri Güncelleme Sayfası</h4>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label for="exampleInputName1">Adınız Soyadınız</label>
                    <input type="text" class="form-control" asp-for="@Model.namesurname">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Kullanıcı Adınız</label>
                    <input type="text" class="form-control" asp-for="@Model.username">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Mail Adresi</label>
                    <input type="email" class="form-control" asp-for="@Model.mail">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Yeni Şifreniz</label>
                    <input type="text" class="form-control" asp-for="@Model.password">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Resim Yolu</label>
                    <input type="text" class="form-control" asp-for="@Model.imageurl">
                </div>
                <button type="submit" class="btn btn-gradient-primary mr-2">Kaydet</button>
               <a href="/Dashboard/Index/" class="btn btn-gradient-secondary">İptal</a>
            </form>
        </div>
    </div>
</div>

@*/*00000bB* */*@